button{
	position: absolute;
 	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30pt;


}



#logopic{
    align-content: center;
	position: relative;
	top: 20px;
	left: 50%;
}

#download{
	margin: 50px;
}

b{
	font-family: "Courier New";
}

#usage_helper_list{
    text-align: center;
}