button{
	position: absolute;
 	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30pt;
}

#page{
	width: 800px;
	margin: auto;
	background-color: #FF8372;

}

.header{
    align-content: center;
	text-align: center;
	position: relative;
	border-top: 20px;
	border-bottom: 20px;
}

#download{
	margin: 50px;
}

.code{
	font-family: "Courier New";
}

#advices{
	margin: 30px;
	font-size: 20px;
	text-align: center;
}

.advice_text{
	font-size: 15pt;
}
#first_advice{
    text-align: left;
}
#second_advice{
	text-align: center;
}
#third_advice{
	text-align: right;
}

#upload_button{
	margin-left: 40%;
	margin-right: 40%;
}

#fileUploader{
	font-size: 15pt;
	font-family: "Courier New";
}