#page{
	max-width: 750px;
    width: 100%;
	margin: auto;
	background-color: #efefef;
}

#logo{
	padding-left: 10%;
	padding-right: 10%;
	width: 80%;
}

.header{
    align-content: center;
	text-align: center;
	position: relative;
	border-top: 20px;
	border-bottom: 20px;
}

#download{
	margin: 50px;
}

.code{
	font-family: "Courier New";
}

#advices{
	font-size: 20px;
	text-align: center;
}

.advice_text{
	font-size: 15pt;
}
#first_advice{
    text-align: left;
}
#second_advice{
	text-align: center;
}
#third_advice{
	text-align: right;
}
h3{
	text-align: center;
}
.h5{
	margin-bottom: 10px;
}


.screenshot{
	width: 90%;
	margin-left: 5%;

	height: auto;
}
table{
	margin-top:15px;
}
td{
	text-align: center;
}
thead
.spacer{
	height: 30px;
}
/*
button:hover  {
	background-color: #FFFFFF;
	color:#000;
}

#upload_button{
	align-content: center;
	border: #FFFF00 3px solid;
}
*/
#fileUploader{
	font-size: 15pt;
	font-family: "Courier New";
}

h5{
	margin-top: 150px;
}
form{
	margin-right: 10%;
	margin-left:10%;
}